<button (click)="save()">Save</button>

<div *ngIf="this.test">
	<h1>Test definition</h1>
	<label>Name: <input [(ngModel)]="test.name">
	</label> <br>
	<app-select-adjustable label="Exercises approach"
		[(model)]="test.exercisesApproach"
		[options]="model.getAdjustable('ExercisesApproach')"></app-select-adjustable>
	<app-select-adjustable label="Question approach"
		[(model)]="test.questionApproach"
		[options]="model.getAdjustable('TasksApproach')"></app-select-adjustable>
	<app-select-adjustable label="Evaluation"
		[(model)]="test.evaluationPanel"
		[options]="model.getAdjustable('EvaluationPanel')"></app-select-adjustable>

	<app-select-adjustable label="Finish" [(model)]="test.finishPanel"
		[options]="model.getAdjustable('FinishPanel')"></app-select-adjustable>

	<label>Exercises</label>
	<button (click)="test.createExercise()">Add</button>
	<div *ngFor="let exercise of test.exercises">
		<label>{{exercise.name}}</label>
		<button routerLink="exercise/{{exercise.getOrder()}}">Edit</button>
		<button (click)="test.deleteExercise(exercise)">Delete</button>
	</div>
	<button (click)="pokus()">pokus</button>

	<br>
</div>
<div *ngIf="!this.test">Načítá se...</div>