<div>
	<h1>Task definition</h1>
  <app-select-adjustable label="Question approach" [(model)]="task.questionApproach" [options]="adjustableService.getQuestionsApproaches()"></app-select-adjustable>
  <app-select-adjustable label="Question panel" [(model)]="task.questionPanel" [options]="adjustableService.getQuestionPanels()"></app-select-adjustable>
  <app-select-adjustable label="Answer panel" [(model)]="task.answerPanel" [options]="adjustableService.getAnswerPanels()"></app-select-adjustable>
  <app-select-adjustable label="Task panel" [(model)]="task.taskPanel" [options]="adjustableService.getTaskPanels()"></app-select-adjustable>
  <app-select-adjustable label="Right answer algorithm" [(model)]="task.rightAnswerAlgorithm" [options]="adjustableService.getRightAnswerAlgorithms()"></app-select-adjustable>
    <app-select-adjustable label="Answer approach" [(model)]="task.answerApproach" [options]="adjustableService.getAnswerApproach()"></app-select-adjustable>

  <button routerLink="../..">Back</button>

<br>
</div>